HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, DETAILS, EMBED, FIGURE, FIGCAPTION, FOOTER, HEADER, HGROUP, MENU, NAV, OUTPUT, RUBY, SECTION, SUMMARY, TIME, MARK, AUDIO, VIDEO
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers*/
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
	display: block;
}
BODY
{
	line-height: 1;
}
OL, UL
{
	list-style: none;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
	content: none;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
BODY
{
	font-size: 13px;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, serif;
	color: #000;
}
A
{
	color: #D5000D;
	font-weight: bold;
}
HEADER
{
	padding-top: 35px;
	padding-bottom: 10px;
	/*[empty]background-color:;*/
	/*[empty]background-image:;*/
}
HEADER H1
{
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 48px;
	color: #303030;
	line-height: 1.2;
	text-shadow: 0px 2px 2px #000;
}
HEADER H2
{
	letter-spacing: -1px;
	font-size: 24px;
	color: #AAA;
	font-weight: normal;
	line-height: 1.3;
}
#downloads
{
	display: none;
}
#main_content
{
	padding-top: 20px;
}
CODE, PRE
{
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	color: #222;
	margin-bottom: 30px;
	font-size: 12px;
}
CODE
{
	padding: 0 3px;
}
PRE
{
	border: 1px solid #DDD;
	padding: 20px;
	overflow: auto;
}
PRE CODE
{
	padding: 0;
}
UL, OL, DL
{
	margin-bottom: 20px;
}
/*COMMON STYLES*/
TABLE
{
	width: 100%;
	border: 1px solid #EBEBEB;
}
TH
{
	font-weight: 500;
}
TD
{
	border: 1px solid #EBEBEB;
	text-align: center;
	font-weight: 300;
}
FORM
{
	background: #F2F2F2;
	padding: 20px;
}
/*GENERAL ELEMENT TYPE STYLES*/
H1
{
	font-size: 2.8em;
}
H2
{
	font-size: 22px;
	font-weight: bold;
	color: #303030;
	margin-bottom: 8px;
}
H3
{
	color: #D5000D;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}
H4
{
	font-size: 16px;
	color: #303030;
	font-weight: bold;
}
H5
{
	font-size: 1em;
	color: #303030;
}
H6
{
	font-size: 0.8em;
	color: #303030;
}
P
{
	font-weight: 300;
	margin-bottom: 20px;
}
A
{
	text-decoration: none;
}
P A
{
	font-weight: 400;
}
BLOCKQUOTE
{
	font-size: 1.6em;
	border-left: 10px solid #E9E9E9;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}
UL LI
{
	list-style: disc inside;
	padding-left: 20px;
}
OL LI
{
	list-style: decimal inside;
	padding-left: 3px;
}
DL DD
{
	font-style: italic;
	font-weight: 100;
}
FOOTER
{
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 13px;
	color: #AAA;
}
FOOTER A
{
	color: #666;
}
/*MISC*/
.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix
{
	display: inline-block;
}
* HTML .clearfix
{
	height: 1%;
}
.clearfix
{
	display: block;
}
